body{
	max-width:100%;
	max-height:100vh;
	background:hsl(185, 75%, 39%) ;
	overflow-x: hidden;
	overflow-y: hidden;
	font-weight: 400;
	font-size: 18px;
	color:hsl(229, 23%, 23%);
	font-family: "Kumbh Sans", sans-serif;
}

#top-svg{
	position:absolute;
	transform: translate(-30%, -75%);
}

#bottom-svg{
	position: absolute;
	transform: translate(40%, 65%);
	bottom:0px;
	right:0px;
}

.details{
	display:flex;
	flex-direction: row;
	align-items: center;
}

.attribution {
 font-size: 11px; 
 text-align: center;
}

 .attribution a {
  color: hsl(228, 45%, 44%); 
}

.followers,
.likes,
.photos{
	width:33%;
}

sub{
	font-size: 12px;
}

.container{
	width:30%;
	height:60vh;
	box-shadow: 5px 5px 30px 5px hsl(227, 10%, 46%);
	border-radius: 10px;
	display:block;
	margin:20vh 40% auto 40%;
	text-align: center;
	background-color: #fffffe;
	position: relative;
}

.container-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height:35%;
	background: url("./assets/images/bg-pattern-card.svg");
}

.container-content{
	padding:10px;
	margin-top: -70px;
}

#profile-img{
	border-radius: 50%;
	border:5px solid #fffffe;
}

.gray-font{
	color:hsl(0, 0%, 59%); 
}

.bold-font{
	font-weight: 700;

}

@media screen and (max-width:500px){

body{
	

}

#top-svg{
	transform: translate(-80%, -65%);
}

#bottom-svg{
	transform: translate(75%, 55%);
}

.container{
	width: 80%;
	margin-left:30px;
}

}